{% extends 'base.html' %}
{% block content %}
    {% block body %}
    <body>
        <table>
            <tr>
                <th>Title</th>
                <th>Review</th>
                <th>Rating</th>
                <th></th>
                <th></th>
            </tr>
            {% for review in reviews %}
            <tr>
                <td><button class="reviewbutton"><a href="/show/{{review.id}}">{{review.title}}</a></button></td>
                <td>{{review.text}}</td>
                <!-- <td>{{review.rating}}</td> -->
                <td>
                    {% for i in range(review.rating)%} &#11088
                    {% endfor %}
                </td>

                <td><button><a href="/edit/{{review.id}}/{{review.title}}">Edit</a></button></td>
                <td><a href="/delete/{{review.id}}"><button>Delete</button></a></td>
            </tr>
            {% endfor %}
            
        </table>
    </body>
    {% endblock %}
{% endblock %}

